html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: lightgray;
    padding: 0px;
    margin: 0px;
}


/* NAVBAR STYLING */
nav {
    display: block;
    background-color: lightgray;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: -0.5px;
}

.nav-item {
    background-color: darkslategrey;
    display: inline-block;
    color: white;
    width: 100px;
    text-align: center;
    padding: 20px;
}

/* SIDEBAR STYLING */
.sidebar {
    height: 100%;
    width: 29%;
    float: left;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: -0.5px;
}

.profilePhoto {
    object-fit: cover;
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 200px;
    display: inline-block;
}

.profile {
    padding: 50px;
    text-align: center;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.stats {
    padding: 50px;
}

/* CONTENT STYLING */
.content {
    height: 100%;
    width: 70%;
    float: left;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: -0.5px;
}

img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    padding: 20px;
    display: inline-block;
}

#firstImage {
    float: left;
}

.secondarySection {
    padding: 20px;
    margin: 50px;
}